<div class="content_footer">
  <div class="footer margin-container">
    <div class="footer_column">
      <div class="footer_logo">
        <img src="../../assets/img/mobile_logo.png" alt="Logo Atlantis Software" (click)="clickHome()">
      </div>

      <div>
        <div class="footer_directions" *ngFor="let campus of getAddressInfo().campus">
          <h4 class="footer-title">{{campus.name}}</h4>
          <p class="footer_text">{{campus.address}}</p>
        </div>
      </div>
      

      <a (click)="clickMentionLegale()" class="footer_mentions">Mentions Légales</a>
    </div>

    <div class="footer_column">
      <h4 class="footer-title">Contactez un de nos experts</h4>
      <p class="footer_text">Laissez-nous votre email, nous vous contacterons bientôt</p>
      <div class="subscribe_input__content">
        <input type="email" placeholder="exemple@mail.com" class="subscribe_input">
        <a href="#" class="subscribe_input__submit__footer"><img src="../../assets/icons/send.svg" alt="Send Icon"></a>
      </div>
      <p class="rights">© 2020 Atlantis Software - Tous droits réservés</p>
    </div>
  </div>
</div>