<div class="hire_container margin-container">
  <!--Header-->
  <div class="hire_header">
    <!--Title-->
    <div class="hire_title_container">
      <h2 class="principal_title_sections">Nous <br> Recrutons</h2>
      <p class="description_change">Nous recrutons les membres de notre équipe qui seront les acteurs de cette réussite. </p>
    </div>
    <!--Search Bar-->
    <div class="hire_search_bar">
      <form class="search_items">
        <input type="search" name="search_jobs" placeholder="Rechercher une offre" class="search_bar" [(ngModel)]="jobOffert" (ngModelChange)="offert.filter(jobOffert)" [disabled]="noOferts" >
      </form>
      <hr class="line_nav">
      <div class="no_result_container" *ngIf="noResults">
        <span class="alert_result">Il n'y a pas des résultats pour <b class="search_word">{{jobOffert}}</b></span>
      </div>
    </div>
  </div>


  <!--Job offerts-->
  <app-job-offert #offert [offerts]="getJobOffert()" class="d-flex flex-column mt-5" [element]="contact" [noOferts]="noOferts"></app-job-offert>


  <!--Contact RH-->
  <div class="contact_container" #contact>
    <div class="image_container">
      <img src="../../assets/img/Recrutons_image.png" alt="Girl celebrating">
      <div class="background_image"></div>
    </div>

    <div class="contact_information">
      <h2 class="principal_title_sections">Envoyez Votre CV</h2>
      <p class="description_change">Rejoignez-nous, exprimez vos talents avec nous, soyez avec nous !</p>
      <form action="" class="form_contact_job" method="POST" [formGroup]="formData" (ngSubmit)="onSubmit(formData)">
        <label class="label_form" for="name">
          Nom:
          <input type="text" placeholder="Dupont" class="input_form" name="name" formControlName="name">
        </label>
        <label class="label_form" for="lastname">
          Prénom:
          <input type="text" placeholder="Pierre" class="input_form" name="lastname" formControlName="lastname">
        </label>
        <label class="label_form" for="number">
          Téléphone:
          <input type="text" placeholder="0758693254" class="input_form" name="number" formControlName="number">
        </label>
        <label class="label_form" for="email">
          Email:
          <input type="email" placeholder="exemple@email.com" class="input_form" name="email" formControlName="email">
        </label>
        <label class="label_form" for="cv">
          Ajoutez votre CV:
          <input type="file" class="input_file" name="cv"  formControlName="cvValidator" accept=".png, .jpg, .jpeg, .pdf" (change)="onFileChange($event)">
        </label>
        <label class="label_form" for="letter">
          Ajoutez votre lettre de motivation:
          <input type="file" class="input_file" name="letter"  formControlName="letterValidator" accept=".pdf, .doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" (change)="onFileChangeLetter($event)">
        </label>
        <label class="label_form" for="message">
          Racontez-nous pourquoi vous voulez nous rejoindre :
          <textarea cols="30" rows="5" placeholder="écrire un message" class="input_message" name="message" formControlName="message"></textarea>
        </label>
        <span class="text_warning" [ngClass]="{'warning': textSubmit === 'Vous devez remplir bien le formulaire', 'succes':textSubmit === 'Votre message a été envoyé!'}">{{textSubmit}}</span>
        <input type="submit" value="Envoyer Candidature" class="btn_submit" [disabled]="!valid">
      </form>
    </div>
  </div>
</div>
