<div class="margin-container container-mentions">
	<!--Title-->
  <div class="metions_title">
    <span class="mini-texts">Societé</span>
    <h2 class="principal_title_sections">Mention Légales</h2>
    <p class="description_change mt-4"> <strong>Raison sociale :</strong>  ATLANTIS SOFTWARE       R.C.S. Luxembourg B 70.240
                                   <br/> <strong>Directeur de la publication :</strong> RENE LAVAILLOTTE</p>
	</div>

	<!--Container Info-->
	<div class="container_info">
		<div class="sections">
			<div class="item">
				<img src="../../assets/icons/pinpoint.svg" alt="Pin Point icon">
				<h3 class="item_title mt-4">Coordonnées</h3>
				<p class="description_item">10 Boulevard de la Foire, 1528 Luxembourg
					<br/> E-mail : contact@atlantis-software.net
					<br/> Tél : 04 37 40 04 30</p>
			</div>
			<div class="item">
				<img src="../../assets/icons/book.svg" alt="Book icon">
				<h3 class="item_title">Mentions</h3>
				<p class="description_item"><strong> ATLANTIS SOFTWARE </strong> se réserve le droit de modifier le contenu de ce site web de quelque façon que ce soit, à tout moment et pour n'importe quelle raison, et ce, sans notification préalable particulière. <strong> ATLANTIS SOFTWARE </strong> ne pourra être tenu pour responsable des conséquences de telles modifications.</p>
			</div>
		</div>
		<div class="item">
			<img src="../../assets/icons/user.svg" alt="User icon">
			<h3 class="item_title">Propriété intellectuelle</h3>
			<p class="description_item">L'ensemble des éléments figurant sur ce site est protégé par les dispositions du Code de la Propriété Intellectuelle. En conséquence, toute reproduction de ceux-ci, totale ou partielle, ou imitation, sans notre accord exprès, préalable et écrit, est interdite. Il est formellement interdit de collecter et d'utiliser les informations disponibles sur le site à des fins commerciales. Cette interdiction s'étend notamment, sans que cette liste ne soit limitative, à tout élément rédactionnel figurant sur le site, à la présentation des écrans, aux logos, images et photos de quelque nature qu'ils soient.</p>
		</div>
		<div class="item">
			<img src="../../assets/icons/data-1.svg" alt="Bars that represent data">
			<h3 class="item_title">Protection des données personnelles</h3>
			<p class="description_item">Conformément à la loi « Informatique et Libertés » du 6 janvier 1978, vous bénéficiez d'un droit d'accès et de rectification aux informations qui vous concernent. Si vous souhaitez exercer ce droit et obtenir
				communication des informations vous concernant, veuillez nous adresser un mail à contact@atlantis-software.net <br/> <br/>
				Les informations nominatives concernant l'utilisateur sont à usage interne de la société <strong>ATLANTIS SOFTWARE</strong> . En aucun cas la société <strong>ATLANTIS SOFTWARE</strong> ne les divulguera à des tiers à des fins de publicité ou de promotion. L'utilisateur est toutefois informé que conformément à l'article 27 de la loi « Informatique et Libertés », les réponses données aux formulaires de contacts présents sur le site, permettant à l'utilisateur d'y déposer ses coordonnées pour
				recevoir de la documentation ou les informations demandées, pourront être exploitées par la société <strong>ATLANTIS SOFTWARE</strong> . </p>
		</div>
		<div class="sections">
			<div class="item">
				<img src="../../assets/icons/server.svg" alt="Server icon">
				<h3 class="item_title mt-4">Hébergement</h3>
				<p class="description_item">La société <strong> ATLANTIS SOFTWARE </strong> dispose sur place des serveurs dédiés.</p>
			</div>
			<div class="item">
				<img src="../../assets/icons/create-outline.svg" alt="Pencil writing on a square icon">
				<h3 class="item_title">Conception et réalisation du site internet</h3>
				<p class="description_item"> <strong> ATLANTIS SOFTWARE </strong>
					10 Boulevard de la Foire, 1528 Luxembourg</p>
			</div>
		</div>
	</div>
</div>
