<div class="margin-container contact-container">
  <!--Title-->
  <div class="contact_title">
    <span class="mini-texts">SOCIÉTÉ</span>
    <h2 class="principal_title_sections">Contact</h2>
    <p class="description_change text-center">N'hésitez pas à nous contacter si vous souhaitez des renseignements. </p>
  </div>

  <div class="container_form_contact">
    <div class="general_contact">
      <h3 class="general_title">Information de contact</h3>
      <p class="general_description">Nous sommes à votre disposition du lundi au vendredi pour vous accompagner dans l'étude de vos projets.</p>
      <div class="info_container">
        <img src="../../assets/icons/phone-handset-line.svg" alt="Telephone Icon">
        <div class="information">
          <span class="text_container">( +325 ) 20 88 21 25 </span>
          <span class="text_container">( +33 ) 4 37 40 04 30 </span>
        </div>
      </div>

      <div class="info_container">
        <img src="../../assets/icons/map-marker-line.png" alt="Map marker icon">
        <div class="information">
          <span class="text_container">10 Bd de la Foire, 1528 Luxembourg</span>
          <span class="text_container">12 Rue Edinson, 69500 Bron </span>
        </div>
      </div>

      <div class="info_container">
        <img src="../../assets/icons/email.svg" alt="Email icon">
        <div class="information">
          <span class="text_container">info@atlantis-software.net</span>
        </div>
      </div>
    </div>

    <form class="contact_form"   method="POST" [formGroup]="formData" (ngSubmit)="onSubmit(formData)" >
      <label class="label_form" for="sujet_contact">
        Choisissez le sujet
        <!--Desktop View-->
        <div class="d-flex justify-content-between mt-2" *ngIf="!width">
          <div class="input_radio_container">
            <input type="radio" name="sujet_contact" value="Prendre un RDV" id="sc_rdv" class="input_radio" formControlName="sujet_contact">
            <label for="sc_rdv">Prendre un RDV</label>
          </div>
          <div class="input_radio_container">
            <input type="radio" name="sujet_contact" value="Information" id="sc_info" class="input_radio" formControlName="sujet_contact">
            <label for="sc_info">Informations</label>
          </div>
          <div class="input_radio_container">
            <input type="radio" name="sujet_contact" value="Assistance" id="cs_assistance" class="input_radio" formControlName="sujet_contact">
            <label for="cs_assistance">Assistance</label>
          </div>
          <div class="input_radio_container">
            <input type="radio" name="sujet_contact" value="Projet EPR" id="sc_epr" class="input_radio" formControlName="sujet_contact">
            <label for="sc_epr">Projet EPR</label>
          </div>
          <div class="input_radio_container">
            <input type="radio" name="sujet_contact" value="Devenir partenaire" id="sc_partner" class="input_radio" formControlName="sujet_contact">
            <label for="sc_partner">Devenir partenaire</label>
          </div>
          <div class="input_radio_container">
            <input type="radio" name="sujet_contact" value="Autre" id="sc_other" class="input_radio" formControlName="sujet_contact">
            <label for="sc_other">Autre</label>
          </div>
        </div>
        <!--Mobile View-->
        <select class="input_form" *ngIf="width" name="sujet_contact" formControlName="sujet_contact">
          <option value="">Choisissez un sujet</option>
          <option value="Prendre un RDV">Prendre un RDV</option>
          <option value="Information">Informations</option>
          <option value="Assistance">Assistance</option>
          <option value="Projet EPR">Projet EPR</option>
          <option value="Devenir partenaire">Devenir partenaire</option>
          <option value="Autre">Autre</option>
        </select>
      </label>
      <label class="label_form" for="lastname">
        Nom
        <input type="text" class="input_form" placeholder="Dupont" name="lastname" formControlName="lastname">
      </label>
      <label class="label_form" for="name">
        Prénom
        <input type="text" class="input_form" placeholder="Pierre" name="name" formControlName="name">
      </label>
      <label class="label_form" for="function">
        Fonction
        <input type="text" class="input_form" placeholder="Manager" name="function" formControlName="function">
      </label>
      <label class="label_form" for="enterprise">
        Societé
        <input type="text" class="input_form" placeholder="Nom de votre entreprise" name="enterprise" formControlName="enterprise">
      </label>
      <label class="label_form" for="number">
        Téléphone
        <input type="text" class="input_form" placeholder="0778955674" name="number" formControlName="number">
      </label>
      <label class="label_form" for="email">
        Email
        <input type="email" class="input_form" placeholder="example@mail.com" name="email" formControlName="email">
      </label>
      <label class="label_form" for="address">
        Adresse
        <input type="text" class="input_form" placeholder="12 rue Edinson" name="address" formControlName="address">
      </label>
      <label class="label_form" for="zip_code">
        Ville et Code postale
        <input type="text" class="input_form" placeholder="69500" name="zip_code" formControlName="zip_code">
      </label>
      <label class="label_form" for="message">
        Message
        <textarea cols="30" rows="5" class="text_area" placeholder="écrire un message" name="message" formControlName="message"></textarea>
      </label>
      <span class="text_warning" [ngClass]="{'warning': textSubmit === 'Vous devez remplir bien le formulaire', 'succes':textSubmit === 'Votre message a été envoyé!'}">{{textSubmit}}</span>
      <button type="submit" class="btn_submit" [disabled]="!validForm" >Envoyer Message</button>
    </form>
  </div>

  <!--Title Map-->
  <div class="map_container">
    <h2 class="principal_title_sections">Trouvez-nous</h2>
    <p class="description_change">Nous sommes à votre disposition pour améliorer votre activité négoce. </p>
    <!--Map-->
    <aol-map [width]="'100%'" [height]="'300px'">
      <aol-interaction-default></aol-interaction-default>
      <aol-control>
        <aol-content>
            <div id="controlnameforcssstyling" class="ol-unselectable ol-control">
                <a (click)="zoomIn()" class="control_item"><img src="../../assets/icons/plus.svg" alt="Plus Icon"></a>
                <a (click)="zoomOut()" class="control_item"><img src="../../assets/icons/minus.svg" alt="Minus Icon"></a>
            </div>
        </aol-content>
    </aol-control>

      <aol-view [zoom]="zoom">
          <aol-coordinate [x]="lng" [y]="lat" [srid]="'EPSG:4326'"></aol-coordinate>
      </aol-view>

      <aol-layer-tile>
          <aol-source-osm></aol-source-osm>
      </aol-layer-tile>
  </aol-map>
  </div>
</div>
