<!--Navigation Bar-->
<header class="header__container ">
  <nav class="margin-container nav-menu">
    <div class="nav-menu__header">
      <a routerLink="/"><img src="../assets/img/logo.png" alt="Atlantis Software Logo" class="nav-menu__logo logo__desktop"></a>
      <a routerLink="/"><img src="../assets/img/mobile_logo.png" alt="Atlantis Software Logo" class="nav-menu__logo logo__mobile"></a>
    </div>
    <div class="nav-menu__icon_mobile" (click)="openMenuMobile()">
      <img src="../assets/icons/menu.svg" alt="Icon menu burger">
    </div>
    
    <div class="nav-menu__content" id="sc_content_menu" *ngIf="showMenu" [ngClass]="{'slide_left': showMenu}">
      <img src="../assets/icons/close.svg" alt="Icon menu burger" class="nav-menu__list_icon" (click)="closeMenuMobile()">
      <ul class="nav-menu__list">
        <li class="d-flex nav-menu__list_item_li"><a *ngFor="let item of getMenuInfo().menuItems" [routerLink]="item.linked" class="nav-menu__list_item item__typeText">{{item.name}}</a></li>
        <a *ngFor="let button of getCtaInfo().cta" [href]="button.linked" class="nav-menu__list_item item__typeCta">{{button.value}}</a>
      </ul>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
<!--Footer-->
<app-footer></app-footer>